<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <!-- Link to /login and highlight when active -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/login" routerLinkActive="active">Login</a>
      </li>
      <!-- Link to /register and highlight when active -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/register" routerLinkActive="active">Register</a>
      </li>
      <!-- Link to /article/list and highlight when active -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/article/list" routerLinkActive="active">Artículos</a>
      </li>
      <!-- Link to /article/create and highlight when active -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/article/create" routerLinkActive="active">Crear artículo</a>
      </li>
    </ul>
  </div>
</nav>